.currentInputContainer {
  display: flex;
  flex-direction: column; /* 修改为竖直排列 */
  padding: 0px;
  margin-top:32px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  background: #ffffff; /* 整体容器的背景 */
  width: 100%;
  max-width: 400px; /* 调整宽度，确保更紧凑 */
  margin-bottom: 0px;
  transition: all 0.3s ease;
}

.currentInputContainer:hover {
  box-shadow: 0 4px 8px rgba(241, 240, 232, 0.924);
  transform: scale(1.02);
}

.titleSection {
  background: linear-gradient(50deg, #dae6ed,#F0ECF0);
  padding: 0px;
  border-radius: 8px 8px 0 0; /* 顶部的圆角 */
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid #ccc; /* 分隔线 */
}

.detailsSection {
  flex: 1;
  padding: 5px 0; /* 确保顶部和底部有足够的空间 */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupSection,
.fileSection {
  padding: 5px 10px;
  border-radius: 4px;
  background: #f8f9fa; /* 使每个部分有轻微的背景色区分 */
  transition: background-color 0.3s ease;
}

.noFile,
.noGroup {
  font-size: 0.9em;
  color: #999;
}

.groupName,
.fileName {
  cursor: pointer;
  font-weight: bold;
  color: #0077b6;
  display: inline-block;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.groupName:hover,
.fileName:hover {
  background-color: #e6f7ff;
}

.tooltipContent {
  background-color: #000000; /* 设置为黑色背景 */
  padding: 5px;
  font-size: 0.9em;
  color: #ffffff; /* 设置文本为白色 */
  border-radius: 5px; /* 使 tooltip 内容有一定的圆角 */
}

/* 增加文字淡入淡出动画 */
@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animateText {
  animation: slideFade 0.5s ease-in-out;
}
