/* container 是外部包裹容器 */

.container {
  padding: 1px;
  border: 2px solid #e6e4e4;
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s ease;
  width: 98%; /* 使用百分比替代最大宽度 */
  margin: 0 auto;
}

.container:hover {
  box-shadow: 0px 5px 10px rgba(78, 74, 74, 0.25);
  transform: scale(1.02); /* 更大的放大效果 */
}

@media (max-width: 600px) {
  .container {
      width: 100%;
      padding: 0px; /* 在小屏幕上增加内边距 */
  }
}

@keyframes fadeInDown {  
  from {  
    opacity: 0;  
    transform: translateX(10px);  
  }  
  to {  
    opacity: 1;  
    transform: translateX(0);  
  }  
}  

@keyframes turnOut {  
  from {  
    opacity: 0;  
    transform: translateY(-10px);  
  }  
  to {  
    opacity: 1;  
    transform: translateY(0);  
  }  
}  

  .menu {
    position: absolute;
    right: 15px;
    color: #c2c1be;
    display: flex;
    
    align-items: center;
    justify-content: center;
    border: 1px solid #c2c1be;
    border-radius: 50%;
    width: 20px; /* 确保按钮是一个正方形 */
    height: 20px;
    padding: 0; /* 去除内边距 */
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  .menu::before,
  .menu::after {
    content: '';
    width: 3px; /* 小圆点的大小 */
    height: 3px;
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    margin: 0 2px; /* 点之间的间距 */
  }
  
  .menu .dot {
    width: 3px;
    height: 3px;
    background-color: currentColor;
    border-radius: 50%;
  }
  
  .menu:hover {
    color: #fff;
    background-color: #c2c1be;
    border-color: #c2c1be;
    cursor:pointer;
  }
  
  .ant_dropdown {  
    animation: fadeInDown 0.5s ease forwards;  
  }

  .menu_turnOut{
    animation: turnOut 0.5s ease forwards;
  }

  .menu_turnOut:hover{
    color: #1ea0f2 !important;
  }

  .menu_turnOut_delete{
    animation: turnOut 0.6s ease forwards;
  }

  .menu_turnOut_delete:hover{
    color:red !important;
  }

  .modalCodeBlock {
    background-color: #141010 !important;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color: #f5f2f2;
    overflow-y: auto;
    overflow-x: auto;
  }

  /*没有效果*/
.customModal {
  backdrop-filter: blur(10px); /* 添加模糊背景效果 */
}

.customModal .ant-modal-content {
  background: rgba(255, 255, 255, 0.3); /* 半透明背景 */
  border-radius: 10px; /* 可选：圆角 */
}
