/* container 是外部包裹容器 */

.container {
  padding: 1px;
  border: 2px solid var(--scrollbar-track);
  border-radius: 15px;
  text-align: center;
  transition: all 0.2s ease;
  width: 100%;
  margin: 0 auto;
}

.container:hover {
  box-shadow: 0px 5px 10px var(--scrollbar-thumb);
  transform: scale(1.02);
}

@media (max-width: 600px) {
  .container {
      width: 100%;
      padding: 0px; /* 在小屏幕上增加内边距 */
  }
}

@keyframes fadeInDown {  
  from {  
    opacity: 0;  
    transform: translateX(10px);  
  }  
  to {  
    opacity: 1;  
    transform: translateX(0);  
  }  
}  

@keyframes turnOut {  
  from {  
    opacity: 0;  
    transform: translateY(-10px);  
  }  
  to {  
    opacity: 1;  
    transform: translateY(0);  
  }  
}  

  .menu {
    position: absolute;
    right: 15px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--scrollbar-track);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    transition: all 0.2s ease;
  }
  
  .menu::before,
  .menu::after {
    content: '';
    width: 3px; /* 小圆点的大小 */
    height: 3px;
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    margin: 0 2px; /* 点之间的间距 */
  }
  
  .menu .dot {
    width: 3px;
    height: 3px;
    background-color: currentColor;
    border-radius: 50%;
  }
  
  .menu:hover {
    color: var(--button-text);
    background-color: var(--scrollbar-thumb);
    border-color: var(--scrollbar-thumb);
    cursor:pointer;
  }
  
  .ant_dropdown {  
    animation: fadeInDown 0.4s ease forwards;  
  }

  .menu_turnOut{
    animation: turnOut 0.5s ease forwards;
  }

  .menu_turnOut:hover{
    color: #1ea0f2 !important;
  }

  .menu_turnOut_delete{
    animation: turnOut 0.4s ease forwards;
  }

  .menu_turnOut_delete:hover{
    color:red !important;
  }

  .modalCodeBlock {
    background-color: var(--navbar-bg);
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color: var(--text-color);
    overflow-y: auto;
    overflow-x: auto;
  }

  /*没有效果*/
.customModal {
  backdrop-filter: blur(10px); /* 添加模糊背景效果 */
}

.customModal .ant-modal-content {
  background: var(--navbar-bg);
  border-radius: 10px;
}

.operationBar {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 0 8px;
}