/* component.module.css */
.foldcreator {
    background-color: transparent !important;
    border: none !important;
    color: var(--text-color) !important;
}

.foldcreator:hover {
    background-color: var(--scrollbar-thumb) !important;
    transition: all 0.3s ease;
    color: var(--text-color) !important;
}

.foldcreator.active {
    background-color: var(--scrollbar-thumb) !important;
    color: var(--text-color) !important;
}

.foldcreator.active:hover {
    background-color: var(--scrollbar-thumb) !important;
    color: var(--text-color) !important;
}

.deleteButton {
    background-color: transparent !important;
    border: none !important;
    color: var(--delete-button) !important;
}

.deleteButton:hover {
    background-color: var(--scrollbar-thumb) !important;
    transition: all 0.3s ease;
    color: var(--delete-button) !important;
}

.deleteButton:active {
    background-color: var(--navbar-bg) !important;
    color: var(--delete-button-hover) !important;
}