.uploader {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: all 0.3s ease;
  width: 500px; /* 设定一个最大宽度，确保内容不超出 */
  height: 200px;
  margin: 0 auto; /* 居中容器 */
  display: flex; /* 使用 Flexbox 使内部元素居中 */
  flex-direction: column; /* 元素从上到下排列 */
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */
  box-sizing: border-box; /* 包括边框在宽度计算中 */
}

.uploader:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.logo {
  font-size: 50px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  box-shadow: 2px 4px 10px rgba(41, 61, 82, 0.5);
  background: none;
  color: #333;
  transition: all 0.3s ease;
}

.logo:hover {
  color: #007bff;
  transform: scale(1.1);
}

.buttonCustom {
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px 10px;
  background: linear-gradient(50deg ,#53595b, #c9d7e6); /* 初始渐变背景色 */
  border: none;
  box-shadow: 2px 4px 10px rgba(41, 61, 82, 0.5); /* 按钮阴影 */
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease; /* 平滑过渡效果 */
}

.buttonCustom:hover {
  background: linear-gradient(90deg, #0056b3, #0096d6); /* 悬停时渐变背景色 */
  transform: scale(1.1); /* 悬停时按钮放大 */
}

