.uploader {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: all 0.3s ease;
    width: 450px; /* 设定一个最大宽度，确保内容不超出 */
    height:200px;
    margin: 0 auto; /* 居中容器 */
    borderRadius: 10px,;
    
  }
  
  .uploader:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
  }

  .logo{
    font-size: 50px;
    margin-top: 2px;
    border:none;
    background:none;
    color: #333;
    transition: all 0.3s ease;
  }

  .logo:hover{
    color: #007bff;
    scale: 1.1;
  }