.fileUploadContainer {
  display: flex;
  flex-direction: row; /* 使用横向布局 */
  gap: 20px; /* 左右区域之间的间隔 */
  padding: 20px;
  max-width: 1200px; /* 设置最大宽度 */
  margin: 0 auto; /* 居中容器 */
}

.uploadSection {
  flex: 1; /* 文件上传区域占据左侧 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightSection {
  flex: 1; /* 右侧区域与左侧区域等宽 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 上下组件保持距离 */
  gap: 20px;
}

.currentInputWrapper {
  flex: 1;
}

.manualInputButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploader {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: all 0.3s ease;
  width: 300px; /* 最大宽度，确保内容不超出 */
  height: 200px;
  display: flex; /* 使用 Flexbox 使内部元素居中 */
  flex-direction: column; /* 元素从上到下排列 */
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */
  box-sizing: border-box; /* 包括边框在宽度计算中 */
  background-color: #f8f9fa; /* 设置上传区域的背景色 */
}

.uploader:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.logo {
  font-size: 50px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  background: none;
  color: #333;
  transition: all 0.3s ease;
}

.logo:hover {
  color: #007bff;
  transform: scale(1.1);
}
