.parfInputContainer {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f0faff;
  width: 100%;
  margin-top: 15px;
}

.displayMonitor {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px; /* 默认最大高度为 300px */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.displayMonitor.expandedFully {
  max-height: none; /* 展开状态时取消高度限制 */
}

.displayMonitor strong {
  color: #838586;
}

.codeBlock {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  max-height: 200px; /* 保持内容在 200px 内显示 */
  overflow-y: auto; /* 超出部分出现滚动条 */
  color: #333;
}

.submitButton {
  background: #1394ea;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background: #7dcbea;
  scale: 1.03;
}

.submitButton:disabled {
  background: #999;
  cursor: not-allowed;
}

.expandButton {
  margin-top: 10px;
  background: #1394ea;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  transition: background 0.3s ease;
}

.expandButton:hover {
  background: #7dcbea;
}
