.parfInputContainer {
  padding: 0px;
  border-radius: 15px;
  width: 95%;
  border:none;
  margin: 5px auto;
  position: relative;
  transition: all 0.3s ease;
}

.parfInputContainer:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}



.parfInputContainer:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #F3F4F7 0%, #CACCD1 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.parfInputContainer::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      
      
      

.displayMonitor {
  background: #fff;
  border-radius: 8px;
  padding: 0px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 220px;
  overflow: hidden;
  position: relative;
}

.displayMonitor strong {
  color: #838586;
  display: block;
  margin-bottom: 10px;
}

.displayMonitor:hover{
  border: 1px solid transparent;
}

.codeBlock {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  height: calc(100% - 60px);
  overflow-y: auto;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.submitButton {
  background: #51a2d8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-right: 10px;
}

.submitButton:hover {
  background: #7dcbea;
  transform: scale(1.03);
}

.submitButton:disabled {
  background: #999;
  cursor: not-allowed;
}

.expandIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color: #1394ea;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.expandIcon:hover {
  color: #7dcbea;
  transform: scale(1.1);
}

.modalCodeBlock {
  background-color: #141010;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  color: #f5f2f2;
  overflow-y: auto;
  overflow-x: auto;

}

.closeModalButton {
  background: #1394ea;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
