.parfInputContainer {
  padding: 0px;
  border-radius: 15px;
  width: 95%;
  border:none;
  margin: 5px auto;
  position: relative;
  transition: all 0.3s ease;
}

.parfInputContainer:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}



.parfInputContainer:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #F3F4F7 0%, #CACCD1 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.parfInputContainer::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      
      
      

.displayMonitor {
  background: #fff;
  border-radius: 8px;
  padding: 0px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 220px;
  overflow: hidden;
  position: relative;
}

.displayMonitor strong {
  color: #838586;
  display: block;
  margin-bottom: 10px;
}

.displayMonitor:hover{
  border: 1px solid transparent;
}

.codeBlock {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  height: calc(100% - 60px);
  overflow-y: auto;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.submitButton {
  background:  linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-right: 10px;
  font-weight: bold;

}

.submitButton:hover {
  background: linear-gradient(90deg, #559deb, #0096d6) ;
  box-shadow: 3px 6px 15px rgba(0, 102, 204, 0.5);
  transform: scale(1.03);
}

.submitButton_abort {
  background: linear-gradient(50deg, #53595b, #c9d7e6);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-right: 10px;
  font-weight: bold;

}

.submitButton_abort:hover {
  background: linear-gradient(90deg, #ea5a58,#ee3b32) ;
  box-shadow: 3px 6px 15px rgba(239, 93, 61, 0.5);
  transform: scale(1.03);
}

.submitButton:disabled {
  background: #999;
  cursor: not-allowed;
}

.expandIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color: #1394ea;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.expandIcon:hover {
  color: #7dcbea;
  transform: scale(1.1);
}

.modalCodeBlock {
  background-color: #141010;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  color: #f5f2f2;
  overflow-y: auto;
  overflow-x: auto;

}

.closeModalButton {
  background: #1394ea;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

@keyframes move {
  0% {
      background-position: 200%; /* 从左侧开始 */
  }
  100% {
      background-position: -200%; /* 向右移动 */
  }
}

@keyframes fade {
  0%, 100% {
      opacity: 0.7; /* 开始和结束时的不透明度 */
  }
  50% {
      opacity: 1; /* 中间时的不透明度 */
  }
}

.blinking_text {
  display: inline-block; /* 使文本块可以移动 */
  color: transparent; /* 文字本身设置为透明 */
  font-weight: bolder !important;
  /*background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); /* 深色渐变 */

  background: linear-gradient(120deg, rgba(166, 192, 254,0.5) 0%, rgba(246, 128, 132,1.0) 50%, rgba(166, 192, 254,0.5) 100%); 
  
  background-size: 200% 100%; /* 背景大小设置为200%以实现移动效果 */
  animation: move 3s linear infinite, fade 3s linear infinite; /* 应用移动和闪烁动画 */
  -webkit-background-clip: text; /* 仅对文本应用背景 */
  background-clip: text; /* 仅对文本应用背景 */
  font-size: 1.2em; /* 设置字体大小 */
}

