/* container 是外部包裹容器 */
.container {
  padding: 5px;

}

/* paramLabel 独立的参数名称样式 */
.paramLabel {
  color: var(--text-color);
  font-weight: 400;
  min-width: 130px;
  text-align: left;
}

/* inputRow 用于单行输入布局 */
.inputRow {
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 1px;
  gap: 20px;
  width: 100%;
}

.inputRow strong {
  flex: 3;
  min-width: 0;
  margin-left: 1em;
}

.inputRow > div:last-child {
  flex: 7;
  min-width: 0;
  margin-right: 1em;
}

.List {
  list-style: none;
  padding: 0;
  margin: 0;
}

.parameterListItem {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 16px;
  margin-bottom: 0px;
  border-radius: 8px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: var(--background-color);
  border: 1px solid var(--border-color, rgba(255, 255, 255, 0.1));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.parameterListItem:hover {
  background: var(--hover-background, rgba(255, 255, 255, 0.05));
  transform: translateY(-2px);
  border-color: var(--border-hover-color, rgba(35, 103, 170, 0.2));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parameterListItem.selected {
  background: var(--selected-background, rgba(64, 149, 209, 0.1));
  border-color: var(--border-selected-color, rgba(75, 159, 214, 0.3));
  box-shadow: 0 0 0 2px var(--border-selected-color, rgba(255, 255, 255, 0.3));
}

.parameterDetails {
  margin-top: 8px;
  font-size: 0.9em;
  color: var(--text-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
  padding-right: 40px;
}

.parameterDetails span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.parameterContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.parameterContent strong {
  font-size: 1em;
  color: var(--text-color);
}

.parameterDetails {
  margin-top: 4px;
  font-size: 0.9em;
  color: var(--text-secondary);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 40px;
}

@keyframes fadeInDown {
  from {
    opacity: 0.3;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.parameterListItem .deleteButton {
  position: absolute;
  right: 10px;
  top: 10%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease;
  background-color: var(--btn-bg-color, rgb(199, 193, 193));
  color: var(--btn-text-color, rgb(92, 88, 88));
}

[data-theme='dark'] .deleteButton{
  --btn-text-color: #b8b5b5;
  --btn-bg-color: #605b5b;
}

.parameterListItem:hover .deleteButton {
  animation: fadeInDown 0.5s ease forwards;
}

.parameterListItem .deleteButton:hover {
  color: var(--delete-button) !important;
  scale: 1.03;
}
