.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: auto; /* 确保整个页面可以滚动 */
}

.navbar {
  /*position: sticky; /* 使导航栏在页面滚动时保持在顶部 */
  top: 0;
  width: 100%;
  background-color: #585858;
  height: 40px; /* 固定高度设置为 50px 确保导航栏高度一致 */
  z-index: 1000; /* 确保导航栏在其他内容之上 */
  display: flex; /* 使用 Flex 布局来控制内部内容的分布 */
  align-items: center; /* 垂直居中对齐导航栏内部内容 */
  padding: 0 1em; /* 水平方向的 padding，确保链接和标题不贴边 */
}

.navContainer {
  display: flex;
  justify-content: space-between; /* 左侧导航链接和右侧标题两边对齐 */
  width: 100%; /* 使容器的宽度占满导航栏 */
  align-items: center; /* 确保内容垂直居中 */
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2em;
}

.navList li a {
  color: rgb(225, 224, 224);
  text-decoration: none;
}

.navTitle {
  color: rgb(239, 237, 237);
  font-size: 1em; 
  text-align: right;
  margin-right:3em;
}

.content {
  padding: 1em;
  min-height: calc(100vh - 50px); /* 确保内容部分高度减去导航栏的高度 */
  height: 100%; /* 允许内容部分根据页面内容的大小自动扩展 */
}
