.parfInputContainer {
  padding: 0px;
  border-radius: 15px;
  width: 100%;
  border:none;
  margin: 5px auto;
  position: relative;
  transition: all 0.3s ease;
  background-color: var(--background-color);
}

.parfOutputContainer {
  padding: 0px;
  border-radius: 15px;
  width: 100%;
  max-height: 30vh !important;
  border:none;
  margin: 5px auto;
  position: relative;
  transition: all 0.3s ease;
  background-color: var(--navbar-bg);
  transition: all 0.3s ease-in-out;
}

.parfInputContainer:hover {
  box-shadow: 0 1px 20px rgba(68, 67, 67, 0.2);
}



.parfInputContainer:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #F3F4F7 0%, #f6e5c1 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.parfInputContainer::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      
      
.displayMonitor {
  background: var(--navbar-bg);
  border-radius: 8px;
  padding: 0px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 75vh;
  overflow: auto;
  position: relative;
}    

.displayMonitor2 {
  background: var(--background-color);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.displayMonitor strong {
  color: var(--text-color);
  display: block;
  margin-bottom: 10px;
}

.displayMonitor:hover{
  border: 1px solid transparent;
}

.codeBlock {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  height: calc(100% - 60px);
  overflow-y: auto;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  scrollbar-width: thin;
}


.submitButton {
  /* background:  linear-gradient(120deg, #a6c0fe 0%, #f71921 100%); */
  background:  #07078c 100%;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-right: 43%;
  font-weight: bold;

}

.submitButton:hover {
  background: linear-gradient(90deg, #559deb, #0096d6) ;
  box-shadow: 3px 6px 15px rgba(0, 102, 204, 0.5);
  transform: scale(1.03);
}

.submitButton_abort {
  background: var(--button-gradient);
  color: var(--button-text);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-right: 10px;
  font-weight: bold;
}

.submitButton_abort:hover {
  background: linear-gradient(90deg, var(--delete-button), var(--delete-button-hover));
  box-shadow: 3px 6px 15px rgba(239, 93, 61, 0.5);
  transform: scale(1.03);
}

.closeModalButton {
  background: var(--button-gradient);
  color: var(--button-text);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.submitButton:disabled {
  background: #999;
  cursor: not-allowed;
}

.expandIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.expandIcon:hover {
  color: #7dcbea;
  transform: scale(1.1);
}

.modalCodeBlock {
  background-color: var(--navbar-bg);
  padding: 0px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: auto;

}

.closeModalButton {
  background: #1394ea;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

@keyframes move {
  0% {
      background-position: 200%; /* 从左侧开始 */
  }
  100% {
      background-position: -200%; /* 向右移动 */
  }
}

@keyframes fade {
  0%, 100% {
      opacity: 0.7; /* 开始和结束时的不透明度 */
  }
  50% {
      opacity: 1; /* 中间时的不透明度 */
  }
}

.blinking_text {
  display: inline-block; /* 使文本块可以移动 */
  color: transparent; /* 文字本身设置为透明 */
  font-weight: bolder !important;
  /*background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); /* 深色渐变 */

  background: linear-gradient(120deg, rgba(166, 192, 254,0.5) 0%, rgba(246, 128, 132,1.0) 50%, rgba(166, 192, 254,0.5) 100%); 
  
  background-size: 200% 100%; /* 背景大小设置为200%以实现移动效果 */
  animation: move 3s linear infinite, fade 3s linear infinite; /* 应用移动和闪烁动画 */
  -webkit-background-clip: text; /* 仅对文本应用背景 */
  background-clip: text; /* 仅对文本应用背景 */
  font-size: 1.2em; /* 设置字体大小 */
}


.parentContainer {
  display: flex;
  flex-direction: column; /* 将父容器分为上下结构 */
  gap: 0px; /* 为区域添加间隙 */
  min-height: 100vh; /* 父容器的高度占满整个视口 */
  padding: 0px; /* 给父容器添加内边距 */
  overflow: hidden;
  align-items: center;
}

.topSection {
  display: flex;
  justify-content: space-between; /* 确保顶部两个区域均匀水平排列 */
  gap: 0px; /* 顶部区域之间的间隙 */
  flex: 1; /* 顶部区域占据父容器的1倍高度 */
  width: 100%;
}

.leftColumn {  
  flex: 5;  
  min-width: 0; /* 防止内容溢出 */  
  flex-shrink: 0; /* 防止收缩 */  
}  

.rightColumn {  
  flex: 4;  
  min-width: 0;  
  flex-shrink: 0;  
}  

.bottomSection {
  flex: 1; /* 底部区域占据父容器的1倍高度 */
  padding: 5px;
  max-width: 100%;
  justify-items: center;
  align-items: center;
  min-width: 80%;
}
